<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <servlet>
        <!--suppress ServletWithoutMappingInspection -->
        <servlet-name>initServlet</servlet-name>
        <servlet-class>de.elbe5.mapdispatcher.InitServlet</servlet-class>
        <load-on-startup>10</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>preload</servlet-name>
        <servlet-class>de.elbe5.mapdispatcher.PreloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proxy</servlet-name>
        <servlet-class>de.elbe5.mapdispatcher.ProxyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>preload</servlet-name>
        <url-pattern>/preload</url-pattern>
    </servlet-mapping>

    <!-- there should be no static pngs in use -->
    <servlet-mapping>
        <servlet-name>proxy</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
